<!DOCTYPE html>
<html>
	<head>
	<% include ./partials/head %>
	</head>

	<header>
	<% include ./partials/header %>
	</header>

	<body>

		<div class ="jumbotron text-center">
		<form>

			<input type="text" class = "form-control input-lg"	placeholder="Usernname" required />

			<input type="text" class = "form-control input-lg"	placeholder="Email" required />

			<input type="text" class = "form-control input-lg"	placeholder="Password" required />

		</form>
		</div>
	</body>

	<footer>
	<% include ./partials/footer %>
	</footer>
</html>